version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: neet-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: neet_app
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: neet-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
